body {
    margin: 0;
    background-color: white;
}

a {
    color: #00319c;
}
a:visited {
    color: #c39;
}

.secretlink {
  color: black;
  font-family: Helvetica,Arial,Lucida,Verdana,Sans-serif;
  text-decoration: none;
}

.secretlink A {
  color: #00319c;
  font-family: Helvetica,Arial,Lucida,Verdana,Sans-serif;
  text-decoration: none;
}

.secretlink A:visited {
  color: #cc3399;
}

.menu A {
  color: black;
  font-family: Helvetica,Arial,Lucida,Verdana,Sans-serif;
  text-decoration: none;
}

.menu A:hover {
  text-decoration: underline;
}

body, td, font {
  font-family: Helvetica,Arial,Lucida,Verdana,Sans-serif;
}

code {
  font-size: 12pt;
}

.flatFormField {
  border: 1px solid black;
  padding: 3px;
}

.flatButton {
  font-family: Helvetica,Arial,Lucida,Verdana,Sans-serif;
  border: 1px solid black;
  padding: 0px;
}

.preBox {
  font-family: Courier,monospace;        
  border: 1px solid black;
  padding-left: 50px;
  background: #ffffff;
}

h2.sysDoc {
  font-size: large;
  padding-top: 25px;
}

dt { 
  font-weight : bold;
  margin-top: 1em;
}

.document_menu_bar {
    font-family: Helvetica, 'sans serif';
    font-size: 12px;
}
.document_menu_bar a {
    text-decoration: none;
}
.document_menu_bar a:hover {
    text-decoration: underline;
}

@media print {
  .printhide {
    display : none;
  }
}
