body {
    padding-top: 70px;
}

.navbar-brand {
/*     border: 1px solid red; */
    padding-top: 10px;
}
h2 {
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
    font-size: 160%;
}
h3 {
    font-size: 120%;
    font-weight: bold;
}
pre {
    color: #3E3F3A;
    font-weight: bold;
}

#sidebar .list-group, #sidebar .list-group-item {
    background-color: transparent;
}

/* for list-groups nested within a list-group-item, reset the bottom margin */
.list-group-item > .list-group {
    margin-bottom: 0px;
}

/* for list-group-items nested within a list-group-item, reset the bottom
   padding of the last item, b/c the containing item has paddimg already 
 */
.list-group-item .list-group-item:last-child {
    padding-bottom: 0px;
}

.list-group-item {
    border: none;
}

.tag-0 {
    font-size: 16pt;
}

.tag-1 {
    font-size: 14pt;
}

.tag-2 {
    font-size: 12pt;
}

.tag-3 {
    font-size: 10pt;
}

.tag-4 {
    font-size: 8pt;
}

#aboutme {
    padding-top: 0px;
    padding-bottom: 5px;
    -ms-word-break: normal;
    word-break: normal;
}

#sidebar {
    padding-top: 0px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

#sidebar a {
    color: inherit;
}

.icon-label {
    margin-left: 10px;
}

/* Example for how to control spacing between icon and label in specific
   lists in the sidebar. To change, override in your CUSTOM_CSS           */
#sidebar #social i {
    margin-right: 3px;
}

a, a:hover {
    color: inherit;
}

.entry-title {
    font-weight: bold;
}

.entry-content a {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.entry-content a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

.entry-content img {
    max-width: 100%;
    height: auto;
}

.entry-content figcaption, .caption {
    font-size: small;
    margin-bottom: 2px;
}

.floatright, .align-right {
    float: right;
}

.floatleft, .align-left {
    float: left;
}

.floatcenter, .align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.floatright, .align-right {
    margin-left: 4px;
}

figure.floatleft, .align-left {
    margin-right: 4px;
}

figure.floatcenter, .align-center {
    margin-bottom: 11px;
}

.highlighttable pre {
    /* Removes bootstrap default margin-bottom */
    margin-bottom: 0px;
}

.highlighttable {
    /* Adds them margin-bottom to highlightable instead of <pre> */
    margin-bottom: 11px;
}

.highlighttable {
    width: 100%;
}

#categories ul, #tags ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.docutils.footnote td.label {
    display: table-cell;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    border-radius: inherit;
}

.categories-timestamp {
    color: #AAAAAA;
    font-size: 0.9em;
    margin-right: 10px;
}

.tagcloud li {
    padding: 0px;
}

#banner {
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: scroll;
    background-size: cover; /*100% auto;*/
    background-color: #9BB3C5; /*#C4C4C4;*/
    margin: 0 0 20px;
    padding: 70px 0; /*controls padding around inner text*/
    position: relative;
}

#banner .copy {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    display: inline;
    float: left;
    max-width: 900px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

#banner h1 {
    color: #fff;
    font-family: "HelveticaNeue-CondensedBold","Helvetica Neue CE 600 Condensed","Helvetica Neue LT Condensed","Helvetica Neue 600 Condensed","HelveticaNeue-BoldCondensed","Helvetica Neue BoldCondensed","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 64px;
    font-stretch: condensed;
    font-weight: 700;
    line-height: 0.9;
    margin: 0;
    text-transform: uppercase;
}
#banner .intro {
    color: #fff;
    font-size: 40px;
    padding-top: 10px;
    margin-bottom: -5px;
    line-height: 1.33;
    opacity: 0.75;
}
#banner .btn, #banner .intro {
    margin-left: 4px;
}


/* Solutions for mobile and small screens  */
@media (max-width: 600px) {
    #banner h1{
       font-size: 30px; /* !important;*/
    }
    #banner .intro {
        font-size: 20px;
    }
}
#footer-well {
    margin-bottom: 0px;
}
footer img {
    max-width: 175px;
    clear: both;
}

/*Code horizontal scrolling?*/
.highlight pre * {
  white-space: nowrap;    // this sets all children inside to nowrap
}

.highlight pre {
  overflow-x: auto;       // this sets the scrolling in x
}

.highlight pre {
  white-space: pre;       // forces <code> to respect <pre> formatting
}
tr:target {
    background-color: #FFFFCC;
    border: 3px dotted darkred;
/*     font-weight: bold; */
}
.calendar-activity a[href $='.pdf'] {
    padding-right: 18px;
    background: transparent url(../../images/pdf.gif) no-repeat center right;
}
.calendar-activity .optional {
    font-weight: bold;
}
.calendar-date {
    width: 10%;
    font-size: 95%;
}
.calendar-video, .calendar-slides {
    text-align: center;
}

.fa-star {
    color: #F1C40F;
    /*font-size: 110%;*/
}
.fa-stack {
    font-size: 75%;
}

li.secondary {
/*     color: #75776D; */
}
div.assignments {
    padding: 2px;
    margin-top: 4px;
}
div.assignments span {
    font-size: 120%;
}

p.warning {
    padding: 15px;
    font-size: 120%;
}

i.trigger {
    color: red;
}

.navbar .nav {
    font-size: 16px;
}
.navbar-right i {
    font-size: 135%;
}

section.course-info {
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.course-info p {
    font-size: 120%;
    padding-bottom: 20px;
    text-align: justify;
}
.course-info h4 {
    font-weight: bold;
}
.course-info-list li {
    margin-left: 30px;
}
.course-info ul {
    min-height: 75px;
}
p.acknowledgements {
    font-size: 80%;
    line-height: 10pt;
    margin-bottom: 2px;
    padding-bottom: 0px;
}
ul.sponsors {
/*     border: 1px solid red; */
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.sponsors li {
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-bottom: 10px;
    padding-bottom: 0px;
}
.sponsors img {
    max-width: 175px;
    height: auto;
}

.showcase p {
    padding-top: 10px;
    text-align: justify;
}
.showcase .row {
    padding-top: 30px;
    padding-bottom: 30px;
}
.showcase img {
    border: 1px solid #3E3F3A;
}
.showcase h3 {
    font-size: 150%;
    margin-top: 0px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 180%;
    }
    .table {
        font-size: 70%;
    }
    .table ul {
        margin-left: 10px;
        padding-left: 2px;
        font-size: 90%;
    }
    .table li {
        margin-bottom: 10px;
    }
    .calendar-date {
        font-size: 90%;
        width: 15%;
    }
    .calendar-activity a[href $='.pdf'] {
        padding-right: 10px;
        background: transparent url(../../static/images/pdf.gif) no-repeat center right;
        background-size: 8px 8px;
    }
    #banner h1 {
        font-size: 175%;
    }
    .course-info p {
        font-size: 95%;
        padding-bottom: 10px;
    }
    #footer-well {
        font-size: 85%;
    }
    footer div.well {
/*         border: 1px solid red; */
        padding: 10px;
    }
    .showcase img {
        margin-bottom: 20px;
    }
}
        
}